#calc-body {
	background: linear-gradient(#555, #888);
	width: 129px;
	padding: 10px;
	margin: 0 auto;
	margin-top: 100px;
	box-shadow: 2px 2px 10px black;
	border: 1px solid black;
	border-radius: 10%;
}



div:hover {
	border: 1px solid lightgray;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	margin-top: 5px;
}

.number, .operator, .other {
	cursor: pointer;
}



#display{
   background: #ef7;
   border: 2px solid black;
   width: 126px;
   height: 30px;
   margin-bottom: 5px;
   border-radius: 15%;
}



.number {
	background: linear-gradient(#abc, #cba);
	border: 1px solid black;
	width: 41px;
	height: 20px;
	box-shadow: 0 0 1px black;
	border-radius: 10%;
	text-align: center;
	padding-top: 3px;
}

.number:active {
	background: linear-gradient(#567, #765);
	border: 1px solid black;
}



.operator {
	background: linear-gradient(#a71, #eee);
	border: 1px solid black;
	width: 30px;
	height: 20px;
	text-align: center;
	box-shadow: 0 0 1px black;
	border-radius: 20%;
}

.operator:active {
	background: linear-gradient(#840, #ccc);
	border: 1px solid black;
}

#mul {
	font-family: Arial, sans-serif;
}



.other {
	background: linear-gradient(#337, #fff);
	border: 1px solid black;
	width: 62px;
	text-align: center;
	box-shadow: 0 0 1px black;
	border-radius: 40%;
}

.other:active {
	background: linear-gradient(#004, #ccc);
	border: 1px solid black;
}

